/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  //colors
  --color-bg: #eceff4;
  --color-text: #242626;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-inter);
}
.purple-button {
  @apply bg-purple font-inter rounded-[4px] font-semibold text-[16px] leading-[20px] tracking-[0] text-center text-white px-4 py-2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
