<div class="flex w-full py-10 opacity-0 animate-fade-in">
  <div class="flex flex-col w-full justify-center text-center">
    <img
      src="/assets/images/lost_in_space.png"
      class="object-cover rounded-lg md:max-w-[700px] max-w-[350px] self-center"
      alt="page_not_found_image"
    />
    <p class="md:text-2xl text-lg mb-4 font-inter">Oops! The page you're looking for doesn't exist.</p>
    <a routerLink="/" class="md:text-xl text-lg text-purple/80 hover:underline hover:text-purple">Go back to Home</a>
  </div>
</div>
